.center{
    text-align: center;
}

.areaNormal{
    font-family: area-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.areaBold{
    font-family: area-normal, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.areaSemiBold{
    font-family: area-normal, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#logo{
    font-family: gala-triline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    top: auto;
}
.social{
    display: flex;
    justify-content: flex-end;
}
.contactPad{
    margin-right: 20px;
}
.marginNav{
    margin-top: 100px;
}
.marginSpace{
    margin-top: 25px;
}
.marginLogo{
    margin-top: -25px;
    margin-bottom: -20px;
}

.noBorder{
    border: none !important;
}

.footerMargin{
    margin-top: 50px;
}
.footerBackground{
    position: absolute;
    left: 0;
    right: 0;
}
.robotoBold{
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.projectTitle{
    font-size: 5rem;
}
.robotoRegular{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}