ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

footer{
    padding-bottom: 10px;
}

a{
    color:black;
    text-decoration: none;
}

.buttonLink{
    border-radius: 20px !important;
    background-color: #3871AD !important;
    border-color: #3871AD !important;
    font-family: area-normal, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}
.center{
    text-align: center;
}

body, .areaNormal{
    font-family: area-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: black;
    color: white; */
}


.areaBold{
    font-family: area-normal, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.areaSemiBold{
    font-family: area-normal, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#logo{
    font-family: gala-triline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    top: auto;
    color: #4ba8fb;
}
.social{
    display: flex;
    justify-content: flex-end;
}
.contactPad{
    margin-right: 20px;
}
.marginNav{
    margin-top: 100px;
}
.marginSpace{
    margin-top: 25px;
}

.paddingSpace{
    padding-top: 25px;
}
.marginLogo{
    margin-top: -25px;
    margin-bottom: -20px;
}

.noBorder{
    border: none !important;
}

.footerMargin{
    margin-top: 50px;
}

.workMargin{
    margin-top: 50px;
}
.robotoBold{
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.projectTitle{
    font-size: 3rem;
}
.robotoRegular{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headerMargins, .sectionMargins{
    margin-top: 100px;
    /* margin-bottom: 100px; */
}

.midMargins{
    margin-top: 50px;
}

.pink{
    color: #ed52bb;
}

.prototypeButton{
    margin-top: 25px;
}

.card-img-top{
    border-radius: 25px;
    box-shadow: 2px 2px .2em;
    color: gray;
}

.blurb{
    font-size: 26px;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
    
}

/* .hidden2{
    opacity: 0;
    filter: blur(20px);
    transition: all 2s;
} */

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.stagger:nth-child(1){
    transition-delay: 200ms;
}

 .stagger:nth-child(2){
    transition-delay: 100ms;
}

.imgCenter{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    
} 

.inline{
    display: inline !important;
}

.intro{
    font-size: 5rem;
}
.title{
    font-size: 3rem
}

.summary{
    font-size: 1.25rem;
}

.gap{
    /* margin-bottom: 300px; */
}
.circle{
    background-image: url(img/Half-Circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes sweep{
    0%{ background: linear-gradient(
        90deg, #fce041 0%, transparent 100%)}
    /* 25%{ background: linear-gradient(
        90deg, #fce041 25%, transparent 75%)}
    50%{ background: linear-gradient(
         90deg, #fce041 50%, transparent 50%)}
    75%{ background: linear-gradient(
        90deg, #fce041 75%, transparent 25%)} */
    100%{ background: linear-gradient(
         90deg, #fce041 100%, transparent 0%)}
}

.highlight{
    animation: sweep 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 1.5, 1, 1.5);
}

.delay1{
    animation-delay: .25s;
}

.delay2{
    animation-delay: .75s;
}
.delay3{
    animation-delay: 1.25s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 992px){

.social{
    display: flex;
    justify-content: center;
}
    .summary{
        font-size: 1rem;
    }
    .intro{
        font-size: 3.5rem;
        margin-top: 0;
    }
    .title{
        font-size: 2.5rem;
    }}

@media (max-width: 768px){

            .summary{
                font-size: .8rem;
            }
            .intro{
                font-size: 1.8rem;
                margin-top: 0;
            }
            .title{
                font-size: 1.2rem;
            }}
@media (max-width: 576px){

    p{
      font-size: 14px;  
    }
    .projectTitle{
        font-size: 32px;
    }
    .blurb{
        font-size: 18px;
    }
    h2, h4{
        font-size: 18px;
    }
     .sectionMargins{
        margin-top: 50px;
    } 
    .resize{
        width: 50%;
    }
    .summary{
        font-size: .7rem;
    }
    .intro{
        font-size: 1.5rem;
        margin-top: 0;
    }
    .title{
        font-size: .9rem;
    }
    .circle{
        background: none;
    }
    .circle-mobile{
        background-image: url(img/Half-Circle.svg);
        background-size: cover;
        /* background-repeat: no-repeat;
        background-position: center;     */
    }
    .workMargin{
        margin-top: 20px;
    }
}
