ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

footer{
    padding-bottom: 10px;
}

.buttonLink{
    border-radius: 20px !important;
    background-color: #3871AD !important;
    border-color: #3871AD !important;
    font-family: area-normal, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}
.center{
    text-align: center;
}

body, .areaNormal{
    font-family: area-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.areaBold{
    font-family: area-normal, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.areaSemiBold{
    font-family: area-normal, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#logo{
    font-family: gala-triline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    top: auto;
}
.social{
    display: flex;
    justify-content: flex-end;
}
.contactPad{
    margin-right: 20px;
}
.marginNav{
    margin-top: 100px;
}
.marginSpace{
    margin-top: 25px;
}

.paddingSpace{
    padding-top: 25px;
}
.marginLogo{
    margin-top: -25px;
    margin-bottom: -20px;
}

.noBorder{
    border: none !important;
}

.footerMargin{
    margin-top: 50px;
}
.robotoBold{
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.projectTitle{
    font-size: 3rem;
}
.robotoRegular{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headerMargins{
    margin-top: 100px;
    margin-bottom: 100px;
}

.midMargins{
    margin-top: 50px;
}

.pink{
    color: #ed52bb;
}

.prototypeButton{
    margin-top: 25px;
}

.card-img-top{
    border-radius: 25px;
    box-shadow: 2px 2px .2em;
    color: gray;
}

.blurb{
    font-size: 26px;
}